:root {
  --color-primary: #c9a96e;
  --color-secondary: #0f0f0f;
  --color-text: #fff;
  --color-text-secondary: rgba(255, 255, 255, 0.6);
  --color-text-tertiary: rgba(255, 255, 255, 0.25);
  --color-background: #0f0f0f;
  --color-background-secondary: #1a1a1a;
  --color-background-tertiary: #2a2a2a;
  --color-background-quaternary: #3a3a3a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "DM Sans", sans-serif;
}

.header {
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.nav__link {
  text-decoration: none;
  color: var(--color-text-secondary);
}

.nav__link:hover {
  color: var(--color-text);
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  padding: 2rem 1.75rem;
}

.hero {
  min-height: 100vh;
  padding: 3.5rem 1.875rem 2.875rem;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__eyebrow {
  font-size: 1.2rem;
  letter-spacing: 0.15em;
  color: var(--color-primary);
}

.hero__title {
  font-size: 4rem;
  font-family: "Playfair Display", serif;
}

.hero__title-name {
  font-style: italic;
  display: block;
  color: var(--color-primary);
}

.hero__description {
  font-size: 1.2rem;
  line-height: 1.5;
}

.hero__cta-container {
  display: flex;
  gap: 1rem;
  margin-top: 1.125rem;
}

.hero__cta {
  padding: 0.75rem 1.5rem;
  border-radius: 100px;
  background-color: var(--color-secondary);
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  width: 200px;
  text-align: center;
  align-content: center;
}

.hero__cta--primary {
  background-color: #c9a96e;
  color: var(--color-secondary);
}

.hero__cta--secondary {
  background-color: transparent;
  border: 1px solid var(--color-text-tertiary);
  color: var(--color-text-secondary);
}

.about__eyebrow {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--color-text-tertiary);
}

.about__grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  align-items: start;
}

.about__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.about__description {
  color: var(--color-text-secondary);
  line-height: 1.7;
}

/* .about__description strong {
  color: var(--color-text);
  font-weight: 500;
} */

@media (max-width: 600px) {
  .hero__cta-container {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .about__grid {
    grid-template-columns: 1fr;
  }
}
