* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

.header {
  padding: 1rem 2rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.nav__link {
  text-decoration: none;
  color: #000;
}

.main {
  padding: 0 2rem 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  min-height: 100vh;
  padding: 1rem 0;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__eyebrow {
  font-size: 1.2rem;
  letter-spacing: 0.15em;
}

.hero__title {
  font-size: 4rem;
  font-family: "Playfair Display", serif;
}

.hero__title-name {
  font-style: italic;
  display: block;
}

.hero__description {
  font-size: 1.2rem;
  line-height: 1.5;
}

.hero__cta-container {
  display: flex;
  gap: 1rem;
  margin-top: 1.125rem;
}

.hero__cta {
  padding: 0.75rem 1.5rem;
  border-radius: 100px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  width: 200px;
  text-align: center;
  align-content: center;
}

.about {
  padding: 4rem 0;
}

.about__eyebrow {
  font-size: 1.2rem;
  letter-spacing: 0.15em;
  margin-bottom: 2rem;
}

.about__grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  align-items: center;
}

.about__image {
  width: 100%;
  border-radius: 50%;
}

@media (max-width: 600px) {
  .hero__cta-container {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .about__grid {
    grid-template-columns: 1fr;
  }
}
